.form-box{
  margin-top: 200px;
  background:rgba(161, 200, 255, 0.2);
  backdrop-filter: blur(6px);
  padding: 20px;
  border-radius: 10px;
  color: #111224;

  input {
    border-radius: 8px;
    background-color: rgba(161, 200, 255, 0.52);
    border-color: rgba(161, 200, 255, 0.52);
  }

  input:focus {
    background-color: rgba(161, 200, 255, 0.568);
    color:#111224;
  }
}

.form-box .btn{
  border: 1px solid #161830;
  color: #161830;
  border-radius: 6px;
  transition: all 0.3s;
}

.form-box .btn:hover{
  background-color: #161830;
  color: white;
}