.list-card{
  background-position: center !important;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 96%;
  height: 200px;
  margin: 30px;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.7);
}

.list-card p{
  text-decoration: none;
  color: white;
  font-family: 'Odibee Sans', cursive;
  font-size: 50px;
}

.list-card:hover {
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
}

a:hover {
  text-decoration: none;
}

.list-card p:hover{
  text-decoration: none;
  text-shadow: 1px 2px 10px rgba(255, 255, 255, 0.7);
}


.lists-container {
  height: 500px;
  width: 1000px;
  position: relative;
}

.list-second-container {
  max-height:100%;
  width: 100%;
  overflow: auto;
}

.list-second-container::-webkit-scrollbar {
  display: none;
}
