.list-card{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  width: 30%;
  height: 200px;
  margin: 30px;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.7);
}

.list-card a{
  text-decoration: none;
  color: white;
  font-family: 'Odibee Sans', cursive;
  font-size: 50px;
}

.list-card a:hover{
  text-shadow: 1px 2px 10px rgba(255, 255, 255, 0.7);
}